<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>校园服务index</title>
    <link th:href="@{/js/layui/css/layui.css}" rel="stylesheet"/>
    <script type="text/javascript">
    </script>
    <style type="text/css">
        .content {
            background-color: white;
            margin-left: 40%;
            margin-top: 15%;
            width: 300px;
            height: 400px;
        }

        .input-in {
            border-radius: 10px;
        }
    </style>
</head>
<body class="layui-layout-body" th:background="@{/img/background.png}">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">IN校园服务平台后台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="javascript:;">主功能</a>
            </li>
            <li class="layui-nav-item"><a href="">正在开发中.....</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <label style="color: rgba(255,255,255,.7);">你好,</label></li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <label class="layui-form-label" style="width: auto;line-height: 42px" th:text="${name}"></label>
                    <dl class="layui-nav-child">
                        <dd><a href="/myTasks" target="currentFrame">我的跑腿</a></dd>
                        <dd><a href="/myGoods" target="currentFrame">我的商品</a></dd>
                    </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item ">
                    <a href="javascript:" target="currentFrame"> 欢迎</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed ">
                    <a class="" href="javascript:;">跑腿相关</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/task" target="currentFrame">发布跑腿</a></dd>
                        <dd><a href="/listTask" target="currentFrame">我要跑腿</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">商品相关</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/goods" target="currentFrame">发布商品</a></dd>
                        <dd><a href="/buyGoods" target="currentFrame">购买商品</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe style="border-width: 0px;width:1260px;height:768px;background-color: white"
                name="currentFrame"></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © wust.edu.cn - 底部固定区域
    </div>
</div>
<script th:src="@{/js/layui/layui.js}"></script>
<script th:inline="javascript">
    var str = [[${name}]];
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;


    });
</script>
</body>

</html>