<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>校园服务index</title>
    <link th:href="@{/js/layui/css/layui.css}" rel="stylesheet"/>
    <script type="text/javascript">
    </script>
    <style type="text/css">
        .content {
            background-color: white;
            margin-left: 40%;
            margin-top: 15%;
            width: 300px;
            height: 400px;
        }

        .input-in {
            border-radius: 10px;
        }

        .layui-form-item {
            margin-top: 30px;
        }
    </style>
</head>
<body class="layui-layout-body" th:background="@{/img/white-waves.png}">
<div>
    <div style="margin-left: 29%;margin-top: 8%;"><p style="font-size: 30px">跑腿任务发布</p></div>
    <form class="layui-form" style="margin:4% 20% 0px 20%" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">任务名称：</label>
            <div class="layui-input-inline">
                <input type="text" id="taskname" name="title" required lay-verify="required" placeholder="请输入名称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">发布人：</label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required lay-verify="required" disabled autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务金额：</label>
            <div class="layui-input-inline">
                <input type="number" id="price" name="price" required lay-verify="required|Num" placeholder="悬赏金额"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">元</div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">详细描述：</label>
            <div class="layui-input-block">
                <textarea name="desc" id="detail" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="submit" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </form>

    <script th:src="@{/js/layui/layui.js}"></script>
    <script th:inline="javascript">
        //Demo
        layui.use('form', function () {
            var form = layui.form;
            var $ = layui.$;
            form.verify({
                Num: function (value, item) {
                    if (value < 0) {
                        return "请填入正确的金额"
                    }
                }
            })
            $("#name").val(parent.str);
            $("#submit").click(function () {
                event.preventDefault();
                var jsonData = {};
                if ($("#price").val() < 0) {
                    return;
                }
                jsonData["taskname"] = $("#taskname").val();
                jsonData['price'] = $("#price").val();
                jsonData['name'] = $("#name").val();
                jsonData["detail"] = $("#detail").val();
                $.ajax({
                    type: 'post',
                    url: '/setTask',
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(jsonData),
                    success: function (res) {
                        layer.open({
                            content: '提交成功',
                            yes: function (index, layero) {
                                //do something
                                parent.window.location.href = "/store?name=" + parent.str;
                            }
                        })
                    }
                })
            })
            //监听提交
            form.on('submit(formDemo)', function (data) {
                event.preventDefault();
                return false;
            });
        });
    </script>
</body>

</html>